alembic==1.18.4
blinker==1.9.0
certifi==2026.4.22
charset-normalizer==3.4.7
click==8.3.3
colorama==0.4.6
dotenv==0.9.9
Flask==3.1.3
Flask-Mail==0.10.0
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
greenlet==3.5.0
idna==3.13
itsdangerous==2.2.0
Jinja2==3.1.6
Mako==1.3.12
MarkupSafe==3.0.3
numpy==2.4.4
paho-mqtt==2.1.0
pillow==12.2.0
pygnssutils==1.1.22
pygpsclient==1.6.6
pynmeagps==1.1.4
pyqgc==0.2.2
pyrtcm==1.1.12
pysbf2==1.0.4
pyserial==3.5
pyspartn==1.0.9
python-dotenv==1.2.2
pyubx2==1.3.0
pyubxutils==1.0.6
pyunigps==1.0.0
requests==2.33.1
scipy==1.17.1
security==1.3.1
SQLAlchemy==2.0.49
typing_extensions==4.15.0
urllib3==2.6.3
Werkzeug==3.1.8
